In [2]:
my_dict = {
    "name":'Angelina',
    "age": 36
    
}

In [4]:
print(my_dict,type(my_dict))

{'name': 'Angelina', 'age': 36} <class 'dict'>

In [5]:
person = {
    'name':'angelina',
    "age":36
}

In [6]:
person['name']

'angelina'

In [7]:
dict1 = {
    'name':'Salma',
    ['a','b']:36
}

TypeError: unhashable type: 'list'

In [9]:
dict2 = {
    'name':'angelina',
    'age':36
}

In [10]:
dict2['age']

36

In [11]:
dict2['name']

'angelina'

In [12]:
dict2

{'name': 'angelina', 'age': 36}

In [13]:
dict2['city'] = 'San Francisco'

In [15]:
dict2['id'] = 2001

In [16]:
dict2

{'name': 'angelina', 'age': 36, 'city': 'San Francisco', 'id': 2001}

In [17]:
dict2.update({'profession':'movies'})

In [18]:
dict2

{'name': 'angelina',
 'age': 36,
 'city': 'San Francisco',
 'id': 2001,
 'profession': 'movies'}

In [19]:
dict2.update({
    'relation':'single',
    'kids':2
})

In [20]:
dict2

{'name': 'angelina',
 'age': 36,
 'city': 'San Francisco',
 'id': 2001,
 'profession': 'movies',
 'relation': 'single',
 'kids': 2}

In [21]:
dict2.pop('relation')

'single'

In [22]:
dict2

{'name': 'angelina',
 'age': 36,
 'city': 'San Francisco',
 'id': 2001,
 'profession': 'movies',
 'kids': 2}

In [23]:
dict2

{'name': 'angelina',
 'age': 36,
 'city': 'San Francisco',
 'id': 2001,
 'profession': 'movies',
 'kids': 2}

In [24]:
dict2.pop('city')

'San Francisco'

In [25]:
dict2

{'name': 'angelina', 'age': 36, 'id': 2001, 'profession': 'movies', 'kids': 2}

In [26]:
del dict2['age']

In [27]:
dict2

{'name': 'angelina', 'id': 2001, 'profession': 'movies', 'kids': 2}

In [28]:
dict2

{'name': 'angelina', 'id': 2001, 'profession': 'movies', 'kids': 2}

In [29]:
dict2.keys()

dict_keys(['name', 'id', 'profession', 'kids'])

In [30]:
dict2.values()

dict_values(['angelina', 2001, 'movies', 2])

In [31]:
dict2.items()

dict_items([('name', 'angelina'), ('id', 2001), ('profession', 'movies'), ('kids', 2)])

In [32]:
dict1

NameError: name 'dict1' is not defined

In [33]:
dict2

{'name': 'angelina', 'id': 2001, 'profession': 'movies', 'kids': 2}

In [34]:
for key,val in dict2.items():
    print(key,'========>',val)

name ========> angelina
id ========> 2001
profession ========> movies
kids ========> 2

In [35]:
dict2.keys()

dict_keys(['name', 'id', 'profession', 'kids'])

In [36]:
dict2.values()

dict_values(['angelina', 2001, 'movies', 2])

In [37]:
dict2['country']

KeyError: 'country'

In [39]:
dict2.get('country')

In [40]:
dict2.get('country','USA')

'USA'

In [41]:
dict2

{'name': 'angelina', 'id': 2001, 'profession': 'movies', 'kids': 2}

In [42]:
dict2['address'] = 'california'

In [43]:
dict2

{'name': 'angelina',
 'id': 2001,
 'profession': 'movies',
 'kids': 2,
 'address': 'california'}

In [44]:
dict2.get('address','USA')

'california'

In [45]:
dict2

{'name': 'angelina',
 'id': 2001,
 'profession': 'movies',
 'kids': 2,
 'address': 'california'}

In [46]:
s = set()

In [48]:
lst = [12,30,44,14,89,123,30,89,100,25,-24,30]

In [49]:
s = set(lst)

In [50]:
s

{-24, 12, 14, 25, 30, 44, 89, 100, 123}

In [51]:
lst = list(s)

In [52]:
lst

[100, -24, 12, 44, 14, 25, 89, 123, 30]

In [53]:
lst

[100, -24, 12, 44, 14, 25, 89, 123, 30]

In [54]:
d1 = {
    'name':'angelina',
    "age":36
}

In [55]:
d1

{'name': 'angelina', 'age': 36}

In [56]:
d1['city'] = 'LA'

In [57]:
d1

{'name': 'angelina', 'age': 36, 'city': 'LA'}

In [58]:
d = {}

In [59]:
d = {
    'name' :'angelina',
    'age' : 40
}

In [60]:
e = {
    'cto': {
        'name':'elon',
        'age' : 45
    }
}

In [61]:
e

{'cto': {'name': 'elon', 'age': 45}}

In [62]:
e['cto']

{'name': 'elon', 'age': 45}

In [64]:
e.get('cto')['name']

'elon'

In [65]:
e['cto']['age']

45

In [66]:
d = dict(name='Bob',age=44)

In [67]:
d

{'name': 'Bob', 'age': 44}

In [68]:
d[name]

NameError: name 'name' is not defined

In [69]:
d['name']

'Bob'

In [70]:
x='name'

In [71]:
d[x]

'Bob'

In [73]:
d = dict([('name','Bob'),('age',45)])

In [74]:
d

{'name': 'Bob', 'age': 45}

In [75]:
'age' in d

True

In [76]:
d.keys()

dict_keys(['name', 'age'])

In [77]:
d.values()

dict_values(['Bob', 45])

In [78]:
d.items()

dict_items([('name', 'Bob'), ('age', 45)])

In [79]:
for key,val in d.items():
    print(key,'=============>',val)

name =============> Bob
age =============> 45

In [80]:
d2 = d.copy()

In [81]:
d2

{'name': 'Bob', 'age': 45}

In [82]:
d1['city'] = 'lA'

In [83]:
d1

{'name': 'angelina', 'age': 36, 'city': 'lA'}

In [84]:
d2

{'name': 'Bob', 'age': 45}

In [85]:
d2 = d1

In [86]:
d1

{'name': 'angelina', 'age': 36, 'city': 'lA'}

In [87]:
d2

{'name': 'angelina', 'age': 36, 'city': 'lA'}

In [88]:
d2.pop('age')

36

In [89]:
d1

{'name': 'angelina', 'city': 'lA'}

In [90]:
d2

{'name': 'angelina', 'city': 'lA'}

In [91]:
d1

{'name': 'angelina', 'city': 'lA'}

In [92]:
d1.clear()

In [93]:
d1

{}

In [94]:
d1

{}

In [95]:
d1['age'] = 36

In [96]:
d1

{'age': 36}

In [97]:
d2

{'age': 36}

In [98]:
d2={
    'city':'LA',
    'country':'USA'
}

In [99]:
d1

{'age': 36}

In [100]:
d1.update(d2)

In [101]:
d1

{'age': 36, 'city': 'LA', 'country': 'USA'}

In [102]:
d2

{'city': 'LA', 'country': 'USA'}

In [103]:
d1

{'age': 36, 'city': 'LA', 'country': 'USA'}

In [104]:
d1.get('city')

'LA'

In [105]:
d1.get('profession','software')

'software'

In [106]:
d1

{'age': 36, 'city': 'LA', 'country': 'USA'}

In [107]:
d1.pop('city')

'LA'

In [108]:
d1

{'age': 36, 'country': 'USA'}

In [109]:
len(d1)

2

In [110]:
d1

{'age': 36, 'country': 'USA'}

In [111]:
d1['age'] = 100

In [112]:
d1

{'age': 100, 'country': 'USA'}

In [113]:
list(d1.keys())

['age', 'country']

In [114]:
d1.keys()

dict_keys(['age', 'country'])

In [115]:
type(d1.keys())

dict_keys

In [116]:
type(d1.values())

dict_values

In [117]:
type(d1.items())

dict_items

In [118]:
list(d1.keys())

['age', 'country']

In [119]:
list(d1.values())

[100, 'USA']

In [120]:
list(d1.items())

[('age', 100), ('country', 'USA')]

In [122]:
d1 ={x : x*2 for x in range(10)}

In [123]:
d1

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [124]:
d = {
    'spam':2,
    'ham':1,
    'egg':3
}

In [125]:
d['spam']

2

In [126]:
d['ham']

1

In [127]:
d['egg']

3

In [128]:
d

{'spam': 2, 'ham': 1, 'egg': 3}

In [129]:
d['ham'] = ['grill','bake','fry']

In [130]:
d

{'spam': 2, 'ham': ['grill', 'bake', 'fry'], 'egg': 3}

In [131]:
d['ham']['grill']

TypeError: list indices must be integers or slices, not str

In [132]:
d['ham']

['grill', 'bake', 'fry']

In [133]:
d['ham'][1]

'bake'

In [134]:
del d['egg']

In [135]:
d

{'spam': 2, 'ham': ['grill', 'bake', 'fry']}

In [136]:
d['brunch'] = 'dosa'

In [137]:
d

{'spam': 2, 'ham': ['grill', 'bake', 'fry'], 'brunch': 'dosa'}

In [138]:
d

{'spam': 2, 'ham': ['grill', 'bake', 'fry'], 'brunch': 'dosa'}

In [139]:
d.keys()

dict_keys(['spam', 'ham', 'brunch'])

In [140]:
d.values()

dict_values([2, ['grill', 'bake', 'fry'], 'dosa'])

In [141]:
d.items()

dict_items([('spam', 2), ('ham', ['grill', 'bake', 'fry']), ('brunch', 'dosa')])

In [142]:
d

{'spam': 2, 'ham': ['grill', 'bake', 'fry'], 'brunch': 'dosa'}

In [143]:
d.pop(ham)

NameError: name 'ham' is not defined

In [144]:
d.pop('ham')

['grill', 'bake', 'fry']

In [145]:
d

{'spam': 2, 'brunch': 'dosa'}

In [146]:
d

{'spam': 2, 'brunch': 'dosa'}

In [147]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [148]:
lst

[100, -24, 12, 44, 14, 25, 89, 123, 30]

In [149]:
lst.pop()

30

In [150]:
lst

[100, -24, 12, 44, 14, 25, 89, 123]

In [151]:
lst.pop(1)

-24

In [152]:
lst

[100, 12, 44, 14, 25, 89, 123]

In [153]:
lst.pop(-1)

123

In [154]:
lst

[100, 12, 44, 14, 25, 89]

In [155]:
table = {
    '1975':'Holy Grail',
    '1979':'Life of Brian',
    '1983' : "The Meaning of Life"
}

In [159]:
year = '1983'

In [160]:
table[year]

'The Meaning of Life'

In [161]:
movie = table[year]

In [162]:
movie

'The Meaning of Life'