In [5]:
def say_hello(name):
    '''
    My 1st python function
    '''
    print(f'Hello {name}')

In [6]:
say_hello('Angelina')

Hello Angelina

In [7]:
def sum(num1,num2):
    return num1+num2

In [8]:
sum(30,40)

70

In [9]:
def say_hello():
    print("Hello World!!")

In [10]:
say_hello()

Hello World!!

In [11]:
say_hello

In [15]:
def say_name(name='tommy'):
    print(f'Hello {name}')

In [13]:
say_name('Angelina')

Hello Angelina

In [16]:
say_name()

Hello tommy

In [17]:
def sum(num1,num2):
    return num1+num2

In [19]:
result = sum(20,30)

In [20]:
print(result)

50

In [25]:
def print_result(num1,num2):
    print('sum is',num1+num2)

In [22]:
print_result(30,50)

80

In [23]:
def get_sum(num1,num2):
    return num1+num2

In [24]:
get_sum(30,50)

80

In [26]:
result = print_result(100,200)

sum is 300

In [27]:
print(result)

None

In [29]:
result = get_sum(200,300)

In [30]:
print(result)

500

In [33]:
def sum(a,b):
    result = a+b
    print(f'sum of {a} and {b} is {result}')
    return result

In [34]:
sum(10,20)

sum of 10 and 20 is 30

30

In [35]:
def sum_num(num1,num2):
    return num1+num2

In [36]:
sum_num(20,49)

69

In [37]:
sum_num('angelina','34')

'angelina34'

In [38]:
2 %2

0

In [39]:
3%3

0

In [40]:
3%2

1

In [41]:
20%2==0

True

In [42]:
21 %2 ==0

False

In [46]:
def isEven(num):
    result = num%2==0
    return f'{num} is EVEN' if result else f'{num} is ODD'

In [47]:
isEven(34)

'34 is EVEN'

In [48]:
isEven(35)

'35 is ODD'

In [62]:
def checkForEven(lst):
    for item in lst:
        if item%2==0:
            return True
    else:
        return False

In [63]:
checkForEven([3,5,7,12])

True

In [64]:
checkForEven([3,5,7,1,13])

False

In [65]:
checkForEven([1,3,2,4])

True

In [69]:
def getEvenList(lst):
    even_list = []
    for item in lst:
        if item%2==0:
            even_list.append(item)
    
    return even_list

In [70]:
getEvenList([1,3,5,24])

[24]

In [71]:
lst = [2,3,5,7,4,23,26,34]

In [73]:
data = list(filter(lambda x:x%2==0,lst))

In [74]:
data

[2, 4, 26, 34]

In [78]:
def add(x=[]):
    x.append(1)
    return x

In [79]:
add()

[1]

In [80]:
add()

[1, 1]

In [81]:
add()

[1, 1, 1]

In [82]:
def add():
    x=[]
    x.append(1)
    return x

In [83]:
add()

[1]

In [84]:
add()

[1]

In [85]:
lst

[2, 3, 5, 7, 4, 23, 26, 34]

In [86]:
bag = lst.copy()

In [87]:
bag

[2, 3, 5, 7, 4, 23, 26, 34]

In [88]:
bag.append(400)

In [89]:
bag.remove(7)

In [90]:
bag

[2, 3, 5, 4, 23, 26, 34, 400]

In [91]:
lst

[2, 3, 5, 7, 4, 23, 26, 34]

In [92]:
lst.remove(34)

In [93]:
lst

[2, 3, 5, 7, 4, 23, 26]

In [94]:
bag

[2, 3, 5, 4, 23, 26, 34, 400]

In [95]:
lst = [10,20,['angelina','salma'],30]

In [96]:
bag = lst.copy()

In [97]:
bag.append(100)

In [98]:
bag

[10, 20, ['angelina', 'salma'], 30, 100]

In [99]:
lst

[10, 20, ['angelina', 'salma'], 30]

In [100]:
bag[2].append('angelina')

In [101]:
bag

[10, 20, ['angelina', 'salma', 'angelina'], 30, 100]

In [102]:
lst

[10, 20, ['angelina', 'salma', 'angelina'], 30]

In [106]:
a=[1,2,3]

In [107]:
b=a

In [108]:
a=a + [100]

In [109]:
a

[1, 2, 3, 100]

In [111]:
b

[1, 2, 3]

In [112]:
b*2

[1, 2, 3, 1, 2, 3]

In [113]:
[10,20,30]*2

[10, 20, 30, 10, 20, 30]

In [115]:
[10,20,30]*3

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [116]:
'spam'*3

'spamspamspam'

In [122]:
def sayHello(array=[]):
    array.append(1)
    return array

In [123]:
sayHello()

[1]

In [124]:
sayHello()

[1, 1]

In [125]:
sayHello()

[1, 1, 1]

In [126]:
sayHello()

[1, 1, 1, 1]

In [127]:
sayHello([])

[1]