In [2]:
lst = [10,30,60,25,44]

In [3]:
lst.append(80)

In [4]:
lst

[10, 30, 60, 25, 44, 80]

In [6]:
lst.remove(30)

In [7]:
lst

[10, 60, 25, 44, 80]

In [8]:
lst.sort()

In [9]:
lst

[10, 25, 44, 60, 80]

In [10]:
t1 = (20,40,50,70)

In [11]:
t1.append(32)

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
t1[1]=45

TypeError: 'tuple' object does not support item assignment

In [13]:
lst

[10, 25, 44, 60, 80]

In [15]:
lst[2:4]

[44, 60]

In [16]:
lst[::2]

[10, 44, 80]

In [17]:
lst[1:]

[25, 44, 60, 80]

In [18]:
lst

[10, 25, 44, 60, 80]

In [19]:
lst[2]

44

In [20]:
lst[-1]

80

In [21]:
lst

[10, 25, 44, 60, 80]

In [23]:
names = ['angelina','salma','jennifer','sunny']

In [24]:
def updateNames(lst):
    name = input('plz enter new actress')
    lst.append(name)

In [25]:
updateNames(names)

In [26]:
print(names)

['angelina', 'salma', 'jennifer', 'sunny', 'soundarya']

In [27]:
def updateCars(tpl):
    car = input('plz enter new car')
    tpl.append(car)

In [28]:
t1 = ('bmw','mercedez','honda')
updateCars(t1)

AttributeError: 'tuple' object has no attribute 'append'

In [29]:
lst = [10,20,'angelina',True,3.14]

In [30]:
t1 = tuple(lst)

In [31]:
t1

(10, 20, 'angelina', True, 3.14)

In [32]:
print(t1,type(t1))

(10, 20, 'angelina', True, 3.14) <class 'tuple'>

In [33]:
t1.append(32)

AttributeError: 'tuple' object has no attribute 'append'

In [34]:
lst.append('banana')

In [35]:
lst

[10, 20, 'angelina', True, 3.14, 'banana']

In [36]:
t1

(10, 20, 'angelina', True, 3.14)