In [4]:
lst = [10,20,30,40,'angelina',True]

In [3]:
print(lst,type(lst))

[10, 20, 30, 40, 'angelina'] <class 'list'>

In [5]:
s1 = "[1,2,True,'angelina']"

In [6]:
type(s1)

str

In [7]:
print(s1,type(s1))

[1,2,True,'angelina'] <class 'str'>

In [8]:
lst1 = [10,20,'angelina','samantha',True]

In [12]:
print(lst1,id(lst1),type(lst1))

[10, 20, 'angelina', 'samantha', True, 42] 2732611562432 <class 'list'>

In [9]:
lst1.append(42)

In [10]:
lst1

[10, 20, 'angelina', 'samantha', True, 42]

In [11]:
print(lst1,id(lst1),type(lst1))

[10, 20, 'angelina', 'samantha', True, 42] 2732611562432 <class 'list'>

In [13]:
lst = [10,20,30,40,50]

In [14]:
lst.append(70)

In [15]:
lst

[10, 20, 30, 40, 50, 70]

In [16]:
t1 = (10,20,30)

In [17]:
print(t1,type(t1))

(10, 20, 30) <class 'tuple'>

In [18]:
t1.append(30)

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
t1[1:]

(20, 30)

In [20]:
t1

(10, 20, 30)

In [21]:
t1[0]=33

TypeError: 'tuple' object does not support item assignment

In [22]:
lst

[10, 20, 30, 40, 50, 70]

In [23]:
lst[0] = 99

In [24]:
lst

[99, 20, 30, 40, 50, 70]

In [25]:
t1

(10, 20, 30)

In [26]:
my_list = []

In [27]:
my_list.append(10)

In [28]:
my_list.append(20)

In [29]:
my_list

[10, 20]

In [30]:
my_list.append('angelina')

In [31]:
my_list

[10, 20, 'angelina']

In [32]:
my_list.append(30)

In [33]:
my_list

[10, 20, 'angelina', 30]

In [34]:
lst1

[10, 20, 'angelina', 'samantha', True, 42]

In [35]:
lst1[0]

10

In [36]:
lst1[1]

20

In [37]:
lst1

[10, 20, 'angelina', 'samantha', True, 42]

In [38]:
lst1

[10, 20, 'angelina', 'samantha', True, 42]

In [39]:
lst1[0]

10

In [40]:
lst='PYTHON'

In [41]:
lst

'PYTHON'

In [42]:
lst[0]

'P'

In [43]:
lst[-1]

'N'

In [44]:
lst[2:]

'THON'

In [45]:
lst

'PYTHON'

In [46]:
lst[-2]

'O'

In [47]:
lst[-6]

'P'

In [48]:
lst

'PYTHON'

In [49]:
lst

'PYTHON'

In [50]:
lst[0]='spam'

TypeError: 'str' object does not support item assignment

In [51]:
lst

'PYTHON'

In [52]:
lst=list('PYTHON')

In [53]:
lst

['P', 'Y', 'T', 'H', 'O', 'N']

In [54]:
lst[0]='spam'

In [55]:
lst

['spam', 'Y', 'T', 'H', 'O', 'N']

In [56]:
lst[-2]='ham'

In [57]:
lst

['spam', 'Y', 'T', 'H', 'ham', 'N']

In [58]:
lst

['spam', 'Y', 'T', 'H', 'ham', 'N']

In [59]:
lst[2:]

['T', 'H', 'ham', 'N']

In [60]:
fruits = ['apple','banana']

In [61]:
fruits.append('cherry')

In [62]:
fruits

['apple', 'banana', 'cherry']

In [63]:
fruits.insert(1,'mangoe')

In [64]:
fruits

['apple', 'mangoe', 'banana', 'cherry']

In [65]:
fruits.extend('salma')

In [66]:
fruits

['apple', 'mangoe', 'banana', 'cherry', 's', 'a', 'l', 'm', 'a']

In [67]:
fruits.extend(3)

TypeError: 'int' object is not iterable

In [68]:
fruits

['apple', 'mangoe', 'banana', 'cherry', 's', 'a', 'l', 'm', 'a']

In [69]:
fruits.insert(2,'angelina')

In [70]:
fruits

['apple', 'mangoe', 'angelina', 'banana', 'cherry', 's', 'a', 'l', 'm', 'a']

In [71]:
fruits.index('s')

5

In [72]:
fruits[5:]='sapota'

In [73]:
fruits

['apple',
 'mangoe',
 'angelina',
 'banana',
 'cherry',
 's',
 'a',
 'p',
 'o',
 't',
 'a']

In [74]:
fruits.remove('s')

In [75]:
fruits

['apple', 'mangoe', 'angelina', 'banana', 'cherry', 'a', 'p', 'o', 't', 'a']

In [76]:
fruits[5:]='s'

In [77]:
fruits

['apple', 'mangoe', 'angelina', 'banana', 'cherry', 's']

In [78]:
fruits

['apple', 'mangoe', 'angelina', 'banana', 'cherry', 's']

In [79]:
lst1 =[10,20,30,40]

In [80]:
lst2=[100,200,300]

In [81]:
lst1.extend(lst2)

In [82]:
lst1

[10, 20, 30, 40, 100, 200, 300]

In [83]:
lst1

[10, 20, 30, 40, 100, 200, 300]

In [84]:
lst1.append(1,2)

TypeError: list.append() takes exactly one argument (2 given)

In [85]:
lst1.append([2,4])

In [86]:
lst1

[10, 20, 30, 40, 100, 200, 300, [2, 4]]

In [87]:
lst1

[10, 20, 30, 40, 100, 200, 300, [2, 4]]

In [88]:
lst1.remove(100)

In [89]:
lst1

[10, 20, 30, 40, 200, 300, [2, 4]]

In [90]:
lst1.remove(200)

In [91]:
lst1

[10, 20, 30, 40, 300, [2, 4]]

In [92]:
lst1

[10, 20, 30, 40, 300, [2, 4]]

In [93]:
lst1.pop()

[2, 4]

In [94]:
lst1

[10, 20, 30, 40, 300]

In [95]:
lst1.pop(2)

30

In [96]:
lst1

[10, 20, 40, 300]

In [97]:
lst1.pop(1)

20

In [98]:
lst1

[10, 40, 300]

In [99]:
lst1

[10, 40, 300]

In [100]:
lst.append(10)

In [101]:
lst1

[10, 40, 300]

In [102]:
lst.append(10)

In [103]:
lst

['spam', 'Y', 'T', 'H', 'ham', 'N', 10, 10]

In [104]:
lst.remove(10)

In [105]:
lst

['spam', 'Y', 'T', 'H', 'ham', 'N', 10]

In [106]:
lst

['spam', 'Y', 'T', 'H', 'ham', 'N', 10]

In [108]:
lst.pop()

10

In [109]:
lst

['H', 'N', 'T', 'Y', 'ham', 'spam']

In [110]:
lst.sort()

In [111]:
lst

['H', 'N', 'T', 'Y', 'ham', 'spam']

In [112]:
lst1

[10, 40, 300]

In [113]:
lst1.append(4)

In [114]:
lst1

[10, 40, 300, 4]

In [115]:
lst1.append(20)

In [116]:
lst1

[10, 40, 300, 4, 20]

In [117]:
lst1.sort()

In [118]:
lst1

[4, 10, 20, 40, 300]

In [119]:
lst

['H', 'N', 'T', 'Y', 'ham', 'spam']

In [120]:
lst.reverse()

In [121]:
lst

['spam', 'ham', 'Y', 'T', 'N', 'H']

In [122]:
lst1

[4, 10, 20, 40, 300]

In [123]:
lst1.append(15)

In [124]:
lst1

[4, 10, 20, 40, 300, 15]

In [125]:
lst1.remove(10)

In [126]:
lst1

[4, 20, 40, 300, 15]

In [127]:
lst1.sort()

In [128]:
lst1

[4, 15, 20, 40, 300]

In [129]:
lst1.reverse()

In [130]:
lst1

[300, 40, 20, 15, 4]

In [131]:
lst1

[300, 40, 20, 15, 4]

In [132]:
lst1.index(20)

2

In [133]:
msg = 'PYTHON'

In [134]:
msg.index('Y')

1

In [135]:
msg.count('T')

1

In [136]:
s=list('MISSISSIPPI')

In [137]:
s

['M', 'I', 'S', 'S', 'I', 'S', 'S', 'I', 'P', 'P', 'I']

In [138]:
s.index(I)

NameError: name 'I' is not defined

In [139]:
s.index('I')

1

In [140]:
s.count('I')

4

In [141]:
s

['M', 'I', 'S', 'S', 'I', 'S', 'S', 'I', 'P', 'P', 'I']

In [142]:
s ='PYTHON'

In [143]:
s.index('Y')

1

In [144]:
s.count('T')

1

In [145]:
t1 = (10,30)

In [146]:
t1.index(10)

0

In [147]:
t1.index(30)

1

In [148]:
t1.count(10)

1

In [149]:
t1.count(30)

1

In [150]:
t1=(10,20,30,10,40,50)

In [151]:
t1.index(10)

0

In [152]:
t1.count(10)

2

In [153]:
t2=(10,)

In [154]:
t2

(10,)

In [155]:
print(t2,type(t2))

(10,) <class 'tuple'>

In [156]:
t3 =(10)

In [157]:
print(t3,type(t3))

10 <class 'int'>

In [158]:
t1

(10, 20, 30, 10, 40, 50)

In [159]:
t1.append(23)

AttributeError: 'tuple' object has no attribute 'append'

In [160]:
t1

(10, 20, 30, 10, 40, 50)

In [161]:
t1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [162]:
t1

(10, 20, 30, 10, 40, 50)

In [163]:
t3

10

In [164]:
t3=(12)

In [165]:
print(t3,type(t3))

12 <class 'int'>

In [166]:
lst1

[300, 40, 20, 15, 4]

In [167]:
lst1.reverse(inplace=False)

TypeError: list.reverse() takes no keyword arguments